@charset "ISO-8859-1";
/* Page Margin styles */
* {
	margin: 0;
	padding: 0;
	color: white;
}

/* Page background styles */
body {
	background-image: linear-gradient(rgba(0, 0, 0, .5) 50%,
		rgb(0, 0, 0, .5) 50%), url("../Images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-transform: capitalize;
}

/* Navigation bar styles */
.navigation {
	padding-top: 15px;
	font-family: sans-serif;
}

h1 {
	display: inline;
	width: 300px;
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 25px;
}

#searchinput {
	padding-left: 10px;
	position: absolute;
	font-size: 17px;
	top: 13px;
	left: 230px;
	width: 300px;
	height: 30px;
	border: 1px solid;
	border-color: tomato;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: transparent;
	border-right: none;
}

#searchinput::placeholder {
	color: white;
}

#search {
	position: absolute;
	left: 530px;
	width: 100px;
	height: 30px;
	margin-top: -2px;
	border: 1px solid;
	border-color: tomato;
	font-size: 17px;
	font-weight: bold;
	border-top-right-radius: 10px;
	border-left: none;
	background-color: tomato;
}

#search:hover {
	background-color: white;
	border-color: white;
	color: black;
}

#menu li {
	display: inline;
}

#menu a {
	float: right;
	padding-right: 20px;
	margin-top: 2px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	transition: 0.5s;
	font-weight: bold;
}

#menu a:hover {
	color: black;
}

/* Pet register form styles */
.animalform {
	position: absolute;
	left: 20%;
	top: 21%;
	font-family: 'Times New Roman', Times, serif;
	font-size: 22px;
}

table {
	margin-top: -30px;
	border-radius: 5px;
	padding-left: 20px;
	background-color: rgba(194, 204, 198, 0.959);
	font-size: 20px;
	width: 850px;
	height: 450px;
}

table th, td {
	padding-left: 10px;
	line-height: 2;
	margin-top: 10px;
	color: black;
}

table input:focus {
	outline: none;
}

table label {
	color: black;
}

table input {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	border: none;
	color: black;
	padding-left: 10px;
}

table select {
	width: 210px;
	height: 30px;
	border-radius: 5px;
	border: none;
	color: black;
	padding-left: 10px;
}

table select option {
	color: black;
	padding-left: 10px;
}

table button {
	width: 130px;
	height: 30px;
	color: white;
	background-color: rgb(61, 160, 36);
	border: none;
	border-radius: 5px;
	font-size: 17px;
	font-weight: bold;
	box-shadow: 0 0 5px black;
}

table button:hover {
	color: black;
	background-color: white;
}

textarea {
	width: 200px;
	height: 50px;
	border-radius: 5px;
	border: none;
	resize: none;
	padding-left: 20px;
	padding-top: 20px;
	color: black;
}