@charset "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
	color: white;
}

/* Background styles */
body {
	background-image: linear-gradient(rgba(0, 0, 0, .5) 50%,
		rgb(0, 0, 0, .5) 50%), url("../Images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-transform: capitalize;
}

header{
padding-top: 15px;
}

header input {
	padding-left: 10px;
	font-size: 17px;
	position:absolute;
	top:20px;
	left: 230px;
	width: 300px;
	height: 30px;
	border: 1px solid;
	border-color: tomato;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: transparent;
	border-right: none;
}

header input:focus {
	outline: none;
}

header input::placeholder {
	color: white;
}

header button {
	position: absolute;
	top: 20px;
	left:530px;
	height: 30px;
	width:100px;
	border: 1px solid;
	border-color: tomato;
	font-size: 17px;
	font-weight: bold;
	border-top-right-radius: 10px;
	border-left: none;
	background-color: tomato;
}

header button:hover {
	background-color: white;
	border-color: white;
	color: black;
}

nav {
	position: relative;
	top: -28px;
}

nav li {
	display: inline;
}

nav a {
	float: right;
	padding-right: 20px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	transition: 0.5s;
}

nav a:hover {
	color: black;
}

h2{
margin-top: 20px;
margin-left: 20px;
font-size: 30px;
}

#data {
	width: 48%;
	margin-left: 0;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 20px;
	font-weight: bold;
	display: inline;
	height: 300px;
	float: left;
}

#data p {
	line-height: 2;
	padding-left: 20px;
}

#data div {
	display: inline;
	float: left;
}

#image {
	height: 250px;
	width: 320px;
}

#image img {
	width: 320px;
	height: 250px;
	border-radius: 10px;
}

#divcontent {
	width: 110px;
}

#divdata {
	width: 200px;
}

#data button {
	margin-left: 10px;
	margin-top: 5px;
	width: 120px;
	height: 30px;
	background-color: rgb(16, 177, 16);
	border-radius: 10px;
	border: none;
	color: white;
	font-size: 17px;
	font-weight: bold;
	box-shadow: 0 0 5px black;
}