@charset "ISO-8859-1";

header {
	padding-top: 15px;
}

header input {
	padding-left: 10px;
	font-size: 17px;
	position: absolute;
	top: 20px;
	left: 230px;
	width: 300px;
	height: 30px;
	border: 1px solid;
	border-color: tomato;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: transparent;
	border-right: none;
}

header input:focus {
	outline: none;
}

header input::placeholder {
	color: white;
}

header button {
	position: absolute;
	top: 20px;
	left: 530px;
	height: 30px;
	width: 100px;
	border: 1px solid;
	border-color: tomato;
	font-size: 17px;
	font-weight: bold;
	border-top-right-radius: 10px;
	border-left: none;
	background-color: tomato;
}

header button:hover {
	background-color: white;
	border-color: white;
	color: black;
}

nav {
	position: relative;
	top: -50px;
}

nav li {
	display: inline;
}

nav a {
	float: right;
	padding-right: 20px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	transition: 0.5s;
	color: white;
}

nav a:hover {
	color: black;
}