@charset "ISO-8859-1";

header{
padding-top: 15px;
}

nav {
	position: relative;
	top: -28px;
}

nav li {
	display: inline;
}

nav a {
	float: right;
	padding-right: 20px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	transition: 0.5s;
	color: white;
}

nav a:hover {
	color: black;
}