@charset "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
	color: white;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, .4) 50%,
		rgb(0, 0, 0, .4) 50%), url("../images/background/myordersbackground.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	text-transform: capitalize;
	color: white;
}

caption {
    margin:20px 0px 20px 20px;
	width: 150px;
	font-size: 30px;
	font-weight: bold;
}

caption:hover {
	color: black;
}

table {
	font-size: 20px;
}

table p {
	margin-left: 30px;
}

table img {
	width: 400px;
	height: 350px;
	margin-left: 30px;
	border-radius: 10px;
}

table tr, th, td {
	line-height: 2;
}

#buynow {
	width: 120px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	color: white;
	border: none;
	border-radius: 5px;
	background-color: rgb(16, 177, 16);
	box-shadow: 0 0 5px black;
}

#view {
	width: 120px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	color: white;
	border: none;
	border-radius: 5px;
	background-color: rgb(16, 177, 16);
	box-shadow: 0 0 5px black;
}

#remove {
	width: 120px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	color: white;
	border: none;
	border-radius: 5px;
	background-color: tomato;
	box-shadow: 0 0 5px black;
}

#buyall {
	margin-left: 460px;
	margin-top: 20px;
	width: 120px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	color: white;
	border: none;
	border-radius: 5px;
	background-color: rgb(16, 177, 16);
	box-shadow: 0 0 5px black;
}

#removeall {
	margin-left: 20px;
	margin-top: 30px;
	width: 120px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	color: white;
	border: none;
	border-radius: 5px;
	background-color: tomato;
	box-shadow: 0 0 5px black;
}

#empty {
	position: absolute;
	margin-top: 100px;
	margin-left: 40px;
	font-size: 30px;
}

#move p {
	position:relative;
	left:-200px;
	width: 200px;
}