@charset "ISO-8859-1";

/*Page margin setup */
* {
	margin: 0;
	padding: 0;
	color: white;
}
/*Background styles */
body {
	background-image: linear-gradient(rgba(0, 0, 0, .4) 50%,
		rgb(0, 0, 0, .4) 50%), url("../images/background/background6.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	text-transform: capitalize;
	font-weight: bold;
	color: white;
}

h2 {
	margin-top: 20px;
	margin-left: 20px;
	font-size: 30px;
}

#data {
	width: 48%;
	margin-left: 0;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 20px;
	display: inline;
	height: 320px;
	float: left;
}

#data p {
	line-height: 1;
	padding-left: 10px;
}

#data div {
	display: inline;
	float: left;
}

#image {
	height: 280px;
	width: 320px;
}

#image img {
	width: 320px;
	height: 250px;
	border-radius: 10px;
}

#divcontent {
	width: 130px;
	font-weight: bold;
}

#divdata {
	width: 170px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#data button {
	margin-left: 10px;
	margin-top: 5px;
	width: 100px;
	height: 30px;
	background-color: rgb(16, 177, 16);
	border-radius: 10px;
	border: none;
	color: white;
	font-size: 17px;
	font-weight: bold;
	box-shadow: 0 0 5px black;
}