@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	color: white;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, .5) 50%,
		rgb(0, 0, 0, .5) 50%), url("../images/background/background1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

header h1 {
	font-size: 25px;
	margin-left: 10px;
	margin-top: 15px;
}

nav li {
	display: inline;
}

nav a {
	text-decoration: none;
	float: right;
	padding-right: 20px;
	font-size: 20px;
	font-weight: bold;
	transition: 0.5s;
	color: white;
	position: relative;
	top: -45px;
}

nav a:hover {
	color: black;
}

h2 {
	margin-top: 50px;
	margin-left: 30px;
}

table {
	width:80%;
	top: 90px;
	margin: 40px;
	font-size: 20px;
	text-align: left;	
}

table tr,th{
	padding: 0px;
}